<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyPet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PetWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F30173E01EDF2587006F5294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F337E7621E878D2C00709A3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F337E77B1E878D2C00709A3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F337E7861E878D2C00709A3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
